*{
    padding:0px;
    margin:0px;
}

canvas{
    /* background:green; */
    /* background-color: transparent; */
    background-color: rgba(166, 218, 220, 0.9);
    /* background: hsla(50, 33%, 25%, 0.75) */
    /* border:1px solid red; */
    display: block;
    /* width: 500px; */
    /* height:500px; */
}


.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0px 10px;
 }

.active.icon{
    font-size: 1.4em;
}


.actions{
    position: fixed;
    left:0px;
    top:0px;
    cursor: pointer;
    font-size: 2em;
    margin:5px 20px;
}
